/* VARIABLES */

/* DEFINITION */
body {
	--border: 3px;
	--dark: #000000;
	--hidden: #dddddd;
	--light: #ffffff;
	--canvasLight: #eeeeee;
	--prioUltra: #dc2626;
	--prioHigh: #ea580c;
	--prioMedium: #fbbf24;
	--prioLow: #65a30d;
	--padding: 5px;
	--menu: 100px;
	--effect: 380ms;
	box-sizing: border-box;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

ul {
	margin: 0px;
	padding: 0px;
}

/* CLASSES */

.canvas {
	background-color: var(--canvasLight);
	color: var(--dark);
	display: flex;
	flex-direction: column;
	height: calc(100vh - var(--menu));
	width: calc(100% - var(--menu));
}

.circle {
	display: inline-block;
	position: relative;
	background: var(--accent);
	box-sizing: border-box;
	clip-path: circle(50%);
}

.circle img {
	transform: scale(0.9);
	clip-path: circle(50%);
}

.col {
	display: flex;
	flex-direction: column;
}

.creator {
	height: 100%;
}

.div-Date,
.div-Status {
	min-width: 100px;
	width: 15%;
}

.div-Date {
	text-align: end;
}

.div-Status,
.task.manualHide .div-Status {
	position: relative;
	text-align: start;
}

.div-Status::after {
	background-color: transparent;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	transition: background-color 0.3s ease;
	top: 0;
	width: 100%;
}

.div-Status:hover::after,
.task.manualHide .div-Status:hover::after {
	align-items: center;
	color: white;
	display: flex;
	justify-content: center;
}

.div-Status:hover::after {
	background-color: var(--prioUltra);
	content: "Hide";
}

.div-Title {
	overflow: hidden;
	text-align: center;
	width: 100%;
}

.div-Title:hover {
	color: var(--accent);
}

.dueToday,
.overdue {
	border-right: var(--border) solid;
}

.dueToday {
	border-right-color: var(--prioHigh);
}

.filter {
	align-items: center;
	display: flex;
	flex-direction: row;
	height: 100%;
	justify-content: flex-end;
	margin-right: var(--padding);
	text-align: center;
}

.filter div {
	justify-content: flex-end;
	margin: var(--padding);
}

.manualHide {
	background-color: var(--hidden) !important;
}

.menu {
	background-color: var(--dark);
	color: var(--light);
	position: sticky;
}

.overdue {
	border-right-color: var(--prioUltra);
}

.profile {
	align-content: center;
	background-color: var(--dark);
	display: flex;
	justify-content: center;
	height: var(--menu);
	width: calc(var(--menu) - calc(var(--padding * 2)));
}

.profile img {
	width: var(--menu);
	z-index: 1;
}

.profile:hover {
	background-color: var(--accent);
	margin: 0px;
	transition: var(--effect);
}

.prio0,
.prio1,
.prio2,
.prio3,
.prio4 {
	border-left: var(--border) solid;
}

.prio0 {
	border-left-color: var(--light);
}

.prio1 {
	border-left-color: var(--prioUltra);
}

.prio2 {
	border-left-color: var(--prioHigh);
}

.prio3 {
	border-left-color: var(--prioMedium);
}

.prio4 {
	border-left-color: var(--prioLow);
}

.row {
	display: flex;
}

.scroll {
	height: 100%;
	overflow-y: scroll;
	scrollbar-width: none;
	width: 100%;
}

.scroll::-webkit-scrollbar {
	display: none;
}

.side {
	height: calc(100vh - var(--menu));
	width: var(--menu);
}

.task {
	align-items: center;
	background-color: var(--light);
	display: flex;
	flex-direction: row;
	font-size: 2vh;
	height: 3vh;
	justify-content: space-between;
	line-height: 3vh;
	margin: var(--padding);
	overflow: hidden;
	padding: calc(var(--padding) * 2);
	transition: calc(var(--effect) / 2);
	width: auto;
}

.task:hover {
	filter: drop-shadow(var(--border) var(--border) 2mm var(--accent));
}

.task.manualHide .div-Status:hover::after {
	background-color: var(--prioLow);
	content: "Show";
}

.taskPicture {
	height: 3vh;
}

.top {
	height: var(--menu);
	width: calc(100% - var(--menu));
}

.z10  {
	z-index: 10;
}

/* MEDIA QUERIES */
/** MOBILE **/
@media (max-width: 600px) {
	.canvas,
	.profile {
		width: 100%;
	}

	.filter,
	.side,
	.taskPicture,
	.top {
		display: none;
	}
}
